<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/beverage_cafe_coffee_cold_drink_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LapTrinhDiDong_FinalProject"
        tools:targetApi="31">
        <activity
            android:name=".View.Activity_Detail_Profile_Cus"
            android:exported="false" />
        <activity
            android:name=".View.Activity_Paying_Orders"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject" />
        <activity
            android:name=".View.Activity_Adding_Products"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject" />
        <activity
            android:name=".View.Activity_Deleting_Products"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject" />
        <activity
            android:name=".View.Activity_Deleting_ProductCategories"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject" />
        <activity
            android:name=".View.Activity_Detail_Deleting_ProductCategories"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject" />
        <activity
            android:name=".View.Activity_Updating_Products"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject" />
        <activity
            android:name=".View.Activity_Detail_Products_Customer"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject.NoActionBar" />
        <activity
            android:name=".View.Activity_OTPGetPassword_Customer"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject.NoActionBar" />
        <activity
            android:name=".View.Activity_ForgotPassword_Customer"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject.NoActionBar" />
        <activity
            android:name=".View.Activity_Updating_ProductCategories"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject" />
        <activity
            android:name=".View.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject" />
        <activity
            android:name=".View.Activity_Register_Customer"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject.NoActionBar" />
        <activity
            android:name=".View.Activity_Login_Admin"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject.NoActionBar" />
        <activity
            android:name=".View.Activity_MainPaige_Admin"
            android:exported="false"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject.NoActionBar" />
        <activity
            android:name=".View.Activity_Login_Customer"
            android:exported="true"
            android:theme="@style/Theme.LapTrinhDiDong_FinalProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>